.btn {
    &--round {
        cursor: pointer;
        // padding: 0;
        // margin: 0;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: none;
        background-color: #FF3E79;
        --color: white;
        transition-property: background-color;
        transition-duration: 200ms;
        // &:hover path,
        // &:hover {
        //     background-color: #f0c8d4;
        //     // --color: #FF3E79;
        //     fill: #FF3E79;
        // }
    }
}