.services {
    &__about {
        margin-top: 24px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    &__text {
        padding: 0;
        margin: 0;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 14px;
        text-align: left;
        margin-bottom: 16px;
        margin-top: 24px;
        height: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        &--open {
            height: auto;
        }
    }
    &__show-more-btn {
        cursor: pointer;
        display: inline-block;
        position: relative;
        background-color: inherit;
        border: none;
        margin-bottom: 16px;
        height: 24px;
        font-size: 16px;
        color: $color-text;
        padding-left: 32px;
        margin-left: 20px;
        align-self: flex-start;
        transition: all 300ms;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -o-transition: all 300ms;
        &::before {
            content: "";
            position: absolute;
            background-image: url(../img/expand.svg);
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            transform-origin: center;
            transform: translate(-36px, -0px);
            -webkit-transform: translate(-36px, -0px);
            -moz-transform: translate(-36px, -0px);
            -ms-transform: translate(-36px, -0px);
            -o-transform: translate(-36px, -0px);
        }
        &--open::before {
            transform: translate(-36px) rotate(180deg);
            -webkit-transform: translate(-36px) rotate(180deg);
            -moz-transform: translate(-36px) rotate(180deg);
            -ms-transform: translate(-36px) rotate(180deg);
            -o-transform: translate(-36px) rotate(180deg);
        }
        &:hover {
            color: $color-btn;
        }
    }
    &__img {
        width: 320px;
        height: min-content;
    }
}

@media (min-width: 768px) {
    .services {
        &__about {
            margin-top: 32px;
        }
    }
    .about {
        flex-direction: row;
        &__img {
            width: 360px;
            height: min-content;
        }
    }
}

@media (min-width: 1120px) {
    .services {
        &__about {
            margin-top: 20px;
        }
    }
    .about {
        &__img {
            width: 532px;
            height: min-content;
        }
    }
}