@import './utils/env.scss';
@import './button/button_round';
@import './button/button.scss';
@import './button/button_oval';
.footer {
  &__wrapper {
    border-top: 1px solid $color-title-border;
    background-color: $color-bacground-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: $color-subtitle-text;
    opacity: 0.72;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 19px;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      &__copyright,
      &__copyright-date {
        text-align: left;
      }

      &__no-offer {
        text-align: right;
        width: 330px;
      }
    }

    @media (min-width: 1120px) {
      margin-left: 320px;
    }
  }

  &__btn--msg {
    background-image: url('/src/img/chat.svg');
    background-repeat: no-repeat;
    background-position: center; 
  }
  &__btn--profile {
    background-image: url('/src/img/profile.svg');
    background-repeat: no-repeat;
    background-position: center; 
  }

  &__btn--call {
    background-image: url('/src/img/call.svg');
    background-repeat: no-repeat;
    background-position: center; 
  }
}
